.complete{
    text-decoration: line-through;
    opacity:0.3;
    transition:.5s;
}
.complete__hover:hover{
    text-decoration: line-through;
    opacity:1;
    transition:.5s;
}

.incomplete{
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.checkbox{
    opacity:0.5 ;
    padding:10px;
    margin:10px;
    position:relative;
    top:0px;
    height:20px;
    width:20px;
    transition:.5s;
}
.checkbox__hover:hover{
    opacity:1 ;
    transition:.5s;
}
.task{
    padding:10px;
    margin:10px;
    top:0px;
    width:100%;
    word-wrap: break-word;
}
.remove{
    opacity:0.5 ;
    text-align:center;
    top:0px;
    padding: 0px;
    margin:0px 5px 0px 0px ;
    height:20px;
    width:20px;    
    transition:.5s;

}
.remove__hover:hover{
    opacity:1 ;
    transition:.5s;
    font-weight: bold;
}
.left{ float: left;}
.right{float: right;}

.listitem{
    margin:0px 0px 0px 0px;
    min-height:30px;
    font-size:18px;
    list-style-type: none;
    width:100%;
    background-color:#F5F5F5; 
    transition:.5s;
}
.listitem__hover:hover  {
    background-color:#ccc; 
    transition:.5s;
}

.taskname{
    padding:10px 0px 0px 0px;
    font-size:30px;
}

.timestamp{
    padding:0px 0px 10px 0px;
}


.empty{
    padding:10px 0px 0px 0px;
    font-size:50px;
}
.subtext{
    padding:10px 0px 0px 0px;
    font-size:25px;
}
.hint{
    text-align:center;
    padding:40px 10px 40px 10px;
    margin:40px 10px 40px 10px;
    color:#ccc;
    background-color:#F5F5F5;
}